<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
    <tr>
      <td class="topleft"><%= f.label :employee %>
      <td class="topboth"><%= f.label :location %>
    </tr>
    <tr>
      <td class="bottomleft"><%= f.text_field :employee %>
      <td class="bottomboth"><%= f.text_field :location %>
    </tr>
  </table>

<h3>CONTACT INFORMATION</h3>
  <table>
    <tr>
      <td class="topleft"><%= f.label :business %>
      <td class="topleft"><%= f.label :contact %>
      <td class="topboth"><%= f.label :phone %><br />
    </tr>
    <tr>
      <td class="bottomleft"><%= f.text_field :business %>
      <td class="bottomleft"><%= f.text_field :contact %>
      <td class="bottomboth"><%= f.text_field :phone %>
    </tr>
  </table>
  <table>
    <tr>
      <td class="topleft"><%= f.label :date %>
      <td class="topboth"><%= f.label :date_promised %>
    </tr>
    <tr>
      <td class="bottomleft"><%= f.text_field :date %>
      <td class="bottomboth"><%= f.text_field :date_promised %>
    </tr>
  </table>
<h3>PRINTING</h3>
  <table>
    <tr>
      <td class="topleft"><%= f.label :quantity %>
      <td class="topboth"><%= f.label :item %>
    </tr>
    <tr>
      <td class="bottomleft"><%= f.text_field :quantity %>
      <td class="bottomboth"><%= f.text_field :item %>
    </tr>
  </table>
  <table>
    <tr>
      <td class="topleft"><%= f.label :paper_type %>
      <td class="topleft"><%= f.label :paper_color %>
      <td class="topleft"><%= f.label :flat_size %>
      <td class="topboth"><%= f.label :inkspec %>
    </tr>
    <tr>
      <td class="bottomleft"><%= f.text_field :paper_weight %>
      <td class="bottomleft"><%= f.text_field :paper_color %>
      <td class="bottomleft"><%= f.text_field :flat_size %>
      <td class="bottomboth"><%= f.text_field :inkspec %>
    </tr>
  </table>
<h3>FINISHING</h3>
  <table>
    <tr>
      <td class="topleft"><%= f.label :stapling %>
      <td class="topleft"><%= f.label :binding %>
      <td class="topleft"><%= f.label :folding %>
      <td class="topleft"><%= f.label :drilling %>
      <td class="topboth"><%= f.label :cutting %>
    <tr>
      <td class="bottomleft"><%= f.text_field :stapling %>
      <td class="bottomleft"><%= f.text_field :binding %>
      <td class="bottomleft"><%= f.text_field :folding %>
      <td class="bottomleft"><%= f.text_field :drilling %>
      <td class="bottomboth"><%= f.text_field :cutting %>
    </tr>
    <tr>
      <td class="topleft"><%= f.label :padding %>
      <td class="topleft"><%= f.label :numbering %>
      <td class="topleft"><%= f.label :laminating %>
      <td class="topleft"><%= f.label :other %>
      <td class="topboth"><%= f.label :coating %>
    </tr>
    <tr>
      <td class="bottomleft"><%= f.text_field :padding %>
      <td class="bottomleft"><%= f.text_field :numbering %>
      <td class="bottomleft"><%= f.text_field :laminating %>
      <td class="bottomleft"><%= f.text_field :miscellaneous %>
      <td class="bottomboth"><%= f.text_field :coating %>
    </tr>
  </table>
<h3>Charge</h3>
  <table>
    <tr>
      <td class="topleft"><%= f.label :print_cost %>
      <td class="topleft"><%= f.label :base_design %>
      <td class="topleft"><%= f.label :additional_design %>
      <td class="topboth"><b>TOTAL PRICE</b>
    </tr>
    <tr>
      <td class="bottomleft"><%= f.text_field :print_cost %>
      <td class="bottomleft"><%= f.text_field :base_design %>
      <td class="bottomleft"><%= f.text_field :additional_design %>
      <td class="bottomboth"><%= f.text_field :price %>
    </tr>
  </table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
