<h1>Currrent orders</h1>
<br>

<table>
  <tr>
<!--    <th>Employee</th> -->
    <th>Business</th>
    <th>Contact</th>
<!--    <th>Phone</th>
    <th>Date</th> -->
    <th>Date promised</th>
<!--    <th>Quantity</th> -->
    <th>Item</th>
<!--    <th>Paper weight</th>
    <th>Paper color</th>
    <th>Flat size</th>
    <th>Inkspec</th>
    <th>Stapling</th>
    <th>Binding</th>
    <th>Folding</th>
    <th>Drilling</th>
    <th>Cutting</th>
    <th>Padding</th>
    <th>Numbering</th>
    <th>Laminating</th>
    <th>Miscellaneous</th>
    <th>Base design</th>
    <th>Additional design</th>
    <th>Coating</th>
    <th>Price</th> -->
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
<!--    <td><%= order.employee %></td> -->
    <td><%= order.business %></td>
    <td><%= order.contact %></td>
<!--    <td><%= order.phone %></td>
    <td><%= order.date %></td> -->
    <td><%= order.date_promised %></td>
<!--    <td><%= order.quantity %></td> -->
    <td><%= order.quantity + " " + order.item %></td>
<!--    <td><%= order.paper_weight %></td>
    <td><%= order.paper_color %></td>
    <td><%= order.flat_size %></td>
    <td><%= order.inkspec %></td>
    <td><%= order.stapling %></td>
    <td><%= order.binding %></td>
    <td><%= order.folding %></td>
    <td><%= order.drilling %></td>
    <td><%= order.cutting %></td>
    <td><%= order.padding %></td>
    <td><%= order.numbering %></td>
    <td><%= order.laminating %></td>
    <td><%= order.miscellaneous %></td>
    <td><%= order.base_design %></td>
    <td><%= order.additional_design %></td>
    <td><%= order.coating %></td>
    <td><%= order.price %></td> -->
    <td><%= order.location %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
