<p id="notice"><%= notice %></p>

<h2>Contact Information</h2>
  <b>Business:</b>
  <%= @order.business %>

  <b>Contact:</b>
  <%= @order.contact %>
  <br><br>
  <b>Phone:</b>
  <%= @order.phone %>
  <br><br>
  <b>Date:</b>
  <%= @order.date %>

  <b>Date Promised:</b>
  <%= @order.date_promised %>
  <br><br>

<h2>Order Information</h2>

  <b>Quantity:</b>
  <%= @order.quantity %>

  <b>Item:</b>
  <%= @order.item %>
  <br><br>

  <b>Flat size:</b>
  <%= @order.flat_size %>

  <b>Paper weight:</b>
  <%= @order.paper_weight %>

  <b>Paper color:</b>
  <%= @order.paper_color %>

  <b>Inkspec:</b>
  <%= @order.inkspec %>
  <br><br>

<h2>Finishing</h2>

  <% unless @order.stapling == "" or @order.stapling.downcase == "no" %>
  <b>Stapling:</b>
  <%= @order.stapling %>
  <br>
  <% end %>

  <% unless @order.binding == "" or @order.binding.downcase == "no" %>
  <b>Binding:</b>
  <%= @order.binding %>
  <br>
  <% end %>

  <% unless @order.folding == "" or @order.folding.downcase == "no" %>
  <b>Folding:</b>
  <%= @order.folding %>
  <br>
  <% end %>

  <% unless @order.drilling == "" or @order.drilling.downcase == "no" %>
  <b>Drilling:</b>
  <%= @order.drilling %>
  <br>
  <% end %>

  <% unless @order.cutting == "" or @order.cutting.downcase == "no" %>
  <b>Cutting:</b>
  <%= @order.cutting %>
  <br>
  <% end %>

  <% unless @order.padding == "" or @order.padding.downcase == "no" %>
  <b>Padding:</b>
  <%= @order.padding %>
  <br>
  <% end %>

  <% unless @order.numbering == "" or @order.numbering.downcase == "no" %>
  <b>Numbering:</b>
  <%= @order.numbering %>
  <br>
  <% end %>

  <% unless @order.laminating == "" or @order.laminating.downcase == "no" %>
  <b>Laminating:</b>
  <%= @order.laminating %>
  <br>
  <% end %>

  <% unless @order.coating == "" or @order.coating.downcase == "no" %>
  <b>Coating:</b>
  <%= @order.coating %>
  <br>
  <% end %>

  <% unless @order.miscellaneous == "" or @order.miscellaneous.downcase == "no" %>
  <b>Other:</b>
  <%= @order.miscellaneous %>
  <br>
  <% end %>
  <br><br>

<h2>Other</h2>

  <b>Print Cost:</b>
  <%= @order.print_cost %>
  <br>

  <% unless @order.base_design == "" or @order.base_design.downcase == "no" %>
  <b>Base Design:</b>
  <%= @order.base_design %>
  <br>
  <% end %>

  <% unless @order.additional_design == "" or @order.additional_design.downcase == "no" %>
  <b>Additional Design:</b>
  <%= @order.additional_design %>
  <br>
  <% end %>
  <br>
  <b>TOTAL PRICE::</b>
  <%= @order.price %>
  <br>
  <b>Location:</b>
  <%= @order.location %>
  <br>
  <% if @order.quantity == "150" %>
    Hello
  <% end %>
<br>
<input type="button" 
  onClick="window.print()" 
  value="Print This Order"/>
  <br><br>
<%= link_to 'Edit Order', edit_order_path(@order) %> |
<%= link_to 'Back to Orders', orders_path %>

