<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @order.employee %>
</p>

<p>
  <b>Business:</b>
  <%= @order.business %>
</p>

<p>
  <b>Contact:</b>
  <%= @order.contact %>
</p>

<p>
  <b>Phone:</b>
  <%= @order.phone %>
</p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>Date promised:</b>
  <%= @order.date_promised %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Item:</b>
  <%= @order.item %>
</p>

<p>
  <b>Paper weight:</b>
  <%= @order.paper_weight %>
</p>

<p>
  <b>Paper color:</b>
  <%= @order.paper_color %>
</p>

<p>
  <b>Flat size:</b>
  <%= @order.flat_size %>
</p>

<p>
  <b>Inkspec:</b>
  <%= @order.inkspec %>
</p>

<p>
  <b>Stapling:</b>
  <%= @order.stapling %>
</p>

<p>
  <b>Binding:</b>
  <%= @order.binding %>
</p>

<p>
  <b>Folding:</b>
  <%= @order.folding %>
</p>

<p>
  <b>Drilling:</b>
  <%= @order.drilling %>
</p>

<p>
  <b>Cutting:</b>
  <%= @order.cutting %>
</p>

<p>
  <b>Padding:</b>
  <%= @order.padding %>
</p>

<p>
  <b>Numbering:</b>
  <%= @order.numbering %>
</p>

<p>
  <b>Laminating:</b>
  <%= @order.laminating %>
</p>

<p>
  <b>Miscellaneous:</b>
  <%= @order.miscellaneous %>
</p>

<p>
  <b>Base design:</b>
  <%= @order.base_design %>
</p>

<p>
  <b>Additional design:</b>
  <%= @order.additional_design %>
</p>

<p>
  <b>Coating:</b>
  <%= @order.coating %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Location:</b>
  <%= @order.location %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
